.header {
  background-color: var(--blue-200);
}
.content {
  max-width: var(--max-content-width);
  margin: 0 auto;
  padding: 16px 0;
}
@media (min-width: 372px) {
  .content {
    max-width: 340px;
  }
}
