.button {
  display: grid;
  grid-template-rows: 1fr 24px;
  border: 1px solid var(--grey-300);
  background-color: var(--grey-100);
  padding: 8px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--grey-200);
}
.name {
  height: 100%;
  display: grid;
  place-items: center;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  text-transform: uppercase;
}
.status {
  height: 100%;
  display: grid;
  place-items: center;
}
