:root {
  --font-family-body: "Inter", sans-serif;

  --font-weight-normal: 400;
  --font-weight-bold: 600;

  --scale: 1.333;
  --font-size-0: calc(var(--font-size-1) / var(--scale));
  --font-size-1: calc(var(--font-size-2) / var(--scale));
  --font-size-2: 18px;
  --font-size-3: calc(var(--font-size-2) * var(--scale));
  --font-size-4: calc(var(--font-size-3) * var(--scale));

  --line-height: 1.625;
  --line-height-0: calc(var(--font-size-0) * var(--line-height));
  --line-height-1: calc(var(--font-size-1) * var(--line-height));
  --line-height-2: calc(var(--font-size-2) * var(--line-height));
  --line-height-3: calc(var(--font-size-3) * var(--line-height));
  --line-height-4: calc(var(--font-size-4) * var(--line-height));

  --grey-50: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;

  --blue-50: #f0f9ff;
  --blue-100: #e0f2fe;
  --blue-200: #bae6fd;
  --blue-300: #7dd3fc;
  --blue-400: #38bdf8;
  --blue-500: #0ea5e9;
  --blue-600: #0284c7;
  --blue-700: #0369a1;
  --blue-800: #075985;
  --blue-900: #0c4a6e;

  --max-content-width: min(400px, calc(100% - 32px));
}
body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
  color: var(--grey-900);
}
* {
  box-sizing: border-box;
}
svg {
  display: block;
}
main {
  max-width: var(--max-content-width);
  margin: 20px auto;
}
@media (min-width: 372px) {
  :root {
    --max-content-width: min(372px, calc(100% - 32px));
  }
}
